{% extends 'home/public/base.html' %}


{% block 'css' %}
    <link rel="stylesheet" type="text/css" href="/static/home/public/css/cart.css">
    <link rel="stylesheet" type="text/css" href="/static/home/public/css/cart-app.css">
{% endblock %}

{% block 'header-header' %}
<div class="navbar-left">
    <ol class="breadcrumb">
        <li>购物车</li>
        <li>确认订单</li>
        <li style="color:red">在线支付</li>
        <li>完成 </li>
    </ol>
</div>
{% endblock %}

{% block 'con' %}
<hr>
<hr>
<hr>
<div class="mainbody cart">
    <div class="row">
        <center>
            
        <div class="col-md-10">
            <ul>
                <li>订单号:<span>{{ order.id }}</span></li>
                <li>购买用户:<span>{{ order.uid.username }}</span></li>
                <li>购买时间:<span>{{ order.addtime }}</span></li>
                <li>购买总价:<span>{{ order.totalprice }}</span></li>
                <li>购买总数:<span>{{ order.totalnum }}</span></li>
            </ul>
            <h3>请付款:{{ order.totalprice }}</h3>
                <a href="{% url 'myorder' %}" data-mtype="store_de_cart" class="btn btn-primary btn-lg " style="display:inline-block;"><i></i>个人订单</a>
                <a href="{% url 'pay' order.id %}" ddata-mtype="store_de_buy" href="javascript:void(0);" id="J_btnBuy" class="btn btn-danger btn-lg mr20">付款</a>
        </div>
        </center>
    </div>
      
</div>


{% endblock %}
