{% extends 'front/personal.html' %}

    <!-- 内容区域 -->
    {% block 'forms' %}
    <div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">订单列表</div>
                    </div>
                    <div class="widget-body  am-fr">
                        
                        <form action="" method="">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" name="keywords" class="am-form-field" value="{{ request.GET.keywords }}">

                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search">
                                    </button>
                                </span>
                            </div>
                        </div>
                        </form>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>买家</th>
                                        <th>收货人</th>
                                        <th>电话</th>
                                        <th>地址</th>
                                        <th>数量</th>
                                        <th>购买时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                {% for v in orderlist %}
                                {% if v.uid.username == buyer %}
                                <thead>
                                    <tr>
                                        <th>{{ v.id }}</th>
                                        <th> {{ v.uid }}</th>
                                        <th>{{ v.linkman }}</th>
                                        <th>{{ v.phone }}</th>
                                        <th>{{ v.address }}</th>
                                        <th>{{ v.nums }}</th>
                                        <th>{{ v.addtime }}</th>
                                        <th>
                                            {% if v.status == 1 %}
                                                已付款
                                            {% elif v.status == 2 %}
                                                未付款
                                            {% else %}
                                                已关闭
                                            {% endif %}
                                        </th>
                                        <th>
                                        <a href="{% url 'orderedit' v.id %}" title="">编辑</a>
                                        </th>
                                    </tr>
                                </thead>
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {% load pagetag %}
                                    {% PageShow orderlist.paginator.num_pages request %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









  
    {% endblock %}

