{% extends './base.html' %}
{% block 'forms' %}

<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">会员列表</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-success">
                                        <span class="am-icon-plus"></span><a href="{% url 'goodsadd' %}" title="">新增</a> </button>
                                        <button type="button" class="am-btn am-btn-default am-btn-secondary">
                                        <span class="am-icon-save"></span> 保存</button>
                                        <button type="button" class="am-btn am-btn-default am-btn-warning">
                                        <span class="am-icon-archive"></span> 审核</button>
                                        <button type="button" class="am-btn am-btn-default am-btn-danger">
                                        <span class="am-icon-trash-o"></span> 删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field ">
                            	<span class="am-input-group-btn">
									<button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button">
									</button>
								</span>
                            </div>
                        </div>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                <thead>
                                    <tr>
                                        <th>商品缩略图</th>
                                        <th>分类</th>
                                        <th>名称</th>
                                        <th>价格</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                {% for i in goods %}
                                <tr class="gradeX">
                                    <td class="am-text-middle">
                                    <img src="{{ i.picname }}" width='80px' alt="">
                                    </td>
                                    <td class="am-text-middle">{{ i.typeid.name }}</td>
                                    <td class="am-text-middle">{{ i.goods }}</td>
                                    <td class="am-text-middle">{{ i.price }}</td>
                                    <td class="am-text-middle">
                                    {% if i.state == 1 %}
                                        新品
                                    {% elif i.state == 2 %}
                                        在售   
                                    {% else %}
                                        已下架
                                    {% endif %}
                                   </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'goodsedit' i.id %}"> 
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="{% url 'goodsdel' i.id %}" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                   
                                    <!-- more data -->
                                </tbody>
                                
                            </table>
                        </div>
                       
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                   
                                    {% load pagetag %}
                                    {% PageShow goods.paginator.num_pages request %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}