{% extends './base.html' %}

{% block 'forms' %}
<div class="tpl-content-wrapper">
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading">
                    <span class="am-icon-home page-header-heading-icon">
                    </span>订单管理
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-md-9 am-u-md-offset-1">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ tinfo.id}}">
            <div class="am-form-group">
                ID:<span>{{ tinfo.id }}</span>
            </div>
            <div class="am-form-group">
               收货人:<span>{{ tinfo.linkman }}</span>
            </div>
            <div class="am-form-group">
               手机:<span>{{ tinfo.phone }}</span>
            </div>
            <div class="am-form-group">
                收货地址:<span>{{ tinfo.address }}</span>
            </div>
            <div class="am-form-group">
               数量:<span>{{ tinfo.nums }}</span>
            </div>
            <div class="am-form-group">
               下单时间:<span>{{ tinfo.addtime }}</span>
            </div>
            状态：<span>
             {% if v.status == 1 %}
                    已付款
                {% elif v.status == 2 %}
                    未付款
                {% else %}
                    已关闭
            {% endif %}
            </span>
            <br>
        </form>
    </div>
</div>
{% endblock %}
