{% extends './base.html' %}

{% block 'forms' %}
    <div class="tpl-content-wrapper">
        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading">
                        <span class="am-icon-home page-header-heading-icon">
                        </span>轮播图编辑
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-md-9 am-u-md-offset-3">
            <form class="am-form am-form-horizontal" action="{% url 'insertturnimg' %}" method="post"   enctype="multipart/form-data">
            {% csrf_token %}
        	<div class="am-form-group">
                {% for i in allimg %}
                <ol>
                    <li style="display: inline;">序号{{i.id}}</li>
                    <li style="display: inline;"><img src="/{{i.img}}" alt="" width="500px"></li>
                </ol>
                {% endfor %}
                <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">添加轮播图</label>
                <div class="am-u-sm-10">
                    <input type="file" name="img">  
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-10 am-u-sm-offset-2">
                    <button type="submit" class="am-btn am-btn-default" style="width:200px;background: #337ab7">上传
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
